/* Global Selectors */
* {
  box-sizing: border-box;
}

html {
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

body {
  height: auto;
  overflow-y: auto;
  width: auto;
  overflow-x: hidden !important;
}

form {
  max-height: 95%;
}

i {
  color: #ffffff;
  margin: 0;
}

nav {
  object-fit: cover;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  min-width: 101%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

/* Class Selectors */
.bottom-links {
  background-color: #0F5298;
  width: 500%;
  margin-left: -200%;
  padding: 0;
}

.btn-container {
  text-align: center;
}

.draw::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  border: 5px solid transparent;
}

.draw:hover::before {
  animation: animate 0.5s linear forwards;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    border-top-color: #0074d9;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  50% {
    width: 100%;
    height: 0;
    border-top-color: #0074d9;
    border-right-color: #0074d9;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: #0074d9;
    border-right-color: #0074d9;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}

.draw::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  pointer-events: none;
  border: 5px solid transparent;
}

.draw:hover::after {
  animation: animates 0.5s linear forwards;
}

@keyframes animates {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #0074d9;
  }

  50% {
    width: 0;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #0074d9;
    border-left-color: #0074d9;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #0074d9;
    border-left-color: #0074d9;
  }
}

.flip-button {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  min-width: 250px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background: #0074d9;
  color: #fff;
  transition: all 0.3s ease-out;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  margin-bottom: 10px;
}

.flip-button:before {
  font-family: "Roboto", "Font Awesome 5 Free";
  content: "\f107""\00a0""\00a0""\00a0" attr(btn-after) "\00a0""\00a0""\00a0""\f107";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  color: #0074d9;
  line-height: 40px;
  transition: all 0.3s ease-out;
  background: white;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
}

.flip-button:hover {
  transform: rotateX(90deg) translateY(-10px);
}

.footer-container {
  background-color: #2565AE;
  max-height: 95%;
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 20%;
  margin-left: 40%;
}

.card {
  width: 100%;
  height: 100%;
}

.card-img-top {
  min-width: 100%;
  height: 24vw;
  object-fit: contain;
}

.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(129, 129, 129),
      0 0 40px rgb(129, 129, 129), 0 0 50px rgb(129, 129, 129),
      0 0 60px rgb(129, 129, 129);
  }

  to {
    text-shadow: 0 0 20px rgb(192, 192, 192), 0 0 30px rgb(192, 192, 192),
      0 0 40px rgb(192, 192, 192), 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
}

i.fa-envelope {
  position: relative;
}

i.fa-envelope:after {
  content: "\f0e0";
  position: absolute;
  left: 0;
  top: 0;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.linear-wipe {
  background-image: linear-gradient(to right,
      #FF0900,
      #FF7F00,
      #FFEF00,
      #00F11D,
      #0079FF,
      #A800FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 5s infinite alternate;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}

.mask-custom {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3em;
  border: 2px solid rgba(255, 255, 255, 0.1);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.overlay1 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #66D3FA98;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #3C99DC98;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2565AE98;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay4 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0F529898;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-container:hover .overlay1 {
  height: 38%;
}

.overlay-container:hover .overlay2 {
  height: 38%;
}

.overlay-container:hover .overlay3 {
  height: 38%;
}

.overlay-container:hover .overlay4 {
  height: 38%;
}

.overlay-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.progress {
  background: none;
  margin: 0 auto;
  box-shadow: none;
  width: 150px;
  height: 150px;
  line-height: 150px;
  position: relative;
}

.progress:after {
  content: "";
  border-radius: 50%;
  border: 15px solid #f2f5f5;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.progress>span {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  border-width: 15px;
  border-style: solid;
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #3C99DC;
}

.progress.ninety .progress-bar {
  border-color: rgb(0, 0, 255);
}

.progress.ninety .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}

.progress.seventyFive .progress-bar {
  border-color: rgb(0, 63, 255);
}

.progress.seventyFive .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}

.progress.sixty .progress-bar {
  border-color: rgb(0, 126, 255);
}

.progress.sixty .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}

.progress.fifty .progress-bar {
  border-color: rgb(0, 189, 255);
}

.progress.fifty .progress-left .progress-bar {
  animation: loading-1;
}

.shape {
  height: 250px;
  width: 250px;
  background-color: #0074d9;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
}

/* ID selectors */

#about {
  background-color: #66D3FA;
  display: flex;
  justify-content: center;
  height: 150px;
}

#skills {
  background-color: #3C99DC;
}

#main-Section {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
}

#code-Card,
#weather-Card {
  margin-left: auto;
  margin-right: auto;
}

#booksearch-pic,
#rpg-pic,
#ecommerce-pic,
#stock-Scanner-Photo,
#weather-Photo,
#code-Refractor-Photo {
  width: 100%;
  height: 20vw;
  margin-bottom: 10%;
  object-fit: contain;
}

#nav-Bar {
  position: sticky;
  top: 0;
  margin-top: 315px;
  width: 101%;
  z-index: 2;
}

#top-Section {
  font-family: "Roboto", sans-serif;
  margin-top: 460px;
  margin-left: 10px;
}

#work-Title {
  padding-top: 20px;
}

@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) and (max-device-width: 1024px) {
  #abilities-Interests {
    flex-direction: column;
  }

  #top-Section {
    margin-top: 500px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 339px;
  }

  html,
  body {
    overflow-x: hidden;
  }
}

/* iPad Pro */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  #abilities-Interests {
    flex-direction: column;
  }

  #top-Section {
    margin-top: 700px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 480px;
  }
}

/* Smartphones (portrait and landscape)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (max-device-height: 640px) {
  #top-Section {
    margin-top: 260px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 155px;
  }
}

/* iPhone X  */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
  #top-Section {
    margin-top: 360px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 225px;
  }
}

/* iPhone XS Max, XR ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {

  /* Styles */
  #top-Section {
    margin-top: 360px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 225px;
  }
}

/* Samsung Galaxy S20+ */
@media only screen and (min-device-width: 412px) and (max-device-height: 915px) {

  /* Styles */
  #top-Section {
    margin-top: 400px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 290px;
  }
}

/* Samsung Galaxy Fold */
@media only screen and (min-device-width: 280px) and (max-device-height: 653px) {

  /* Styles */
  #top-Section {
    margin-top: 270px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 160px;
  }
}

/* Samsung Galaxy S8+ */
@media only screen and (min-device-width: 360px) and (max-device-height: 740px) {

  /* Styles */
  #top-Section {
    margin-top: 320px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 190px;
  }
}

/* Samsung Galaxy S9+ */
@media only screen and (min-device-width: 320px) and (max-device-height: 658px) {

  /* Styles */
  #top-Section {
    margin-top: 270px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 160px;
  }
}

/* iPhone 12 Pro */
@media only screen and (min-device-width: 390px) and (max-device-height: 844px) {
  /* Styles */

  #top-Section {
    margin-top: 380px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 240px;
  }
}

/* iPad Air */
@media only screen and (min-device-width: 820px) and (max-device-height: 1180px) {

  /* Styles */
  html,
  body {
    overflow-x: hidden;
  }

  #top-Section {
    margin-top: 600px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 390px;
  }
}

/* iPad Mini */
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) {

  /* Styles */
  html,
  body {
    overflow-x: hidden;
  }

  #top-Section {
    margin-top: 500px;
    margin-right: 10px;
  }

  #nav-Bar {
    margin-top: 340px;
  }
}